[paths]
source =
   src
   */site-packages

[run]
branch = true
source =
    vertica_python_util
parallel = true
disable_warnings = no-data-collected

[report]
show_missing = true
precision = 2
omit = *migrations*

